/* Header part*/

.navigation{
    display:flex;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    top: 0px;
    padding-bottom: 10px;
    background: white;
    border-bottom: 1px solid black
}

.navigation .logo{
    width: 87px;
    height: 30px;
}

.contain{
    display:flex;
    align-items: center;
}

.contain .hamburger{
    display:none;
}

.contain2{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

.beforenavigation{
    /* position: relative;
    bottom: 201px; */
    display: none;
}

ul{
    display: flex;
    list-style: none;
    column-gap: 34px;
}


ul li {
    font-family:Inter,sans-serif;
    font-weight: 600;
}

ul li:hover{
    cursor:pointer;
}

.navigation .btn{
    background: black;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    font-size:11px;
}

.star{
    height: 40px;
}

/* section1 */
.sec1{
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
}

.sec1 .star{
    padding:14px 80px 0px 29px;
}
/* left part */

.left .heading{
    font-size: 30px;
    margin-bottom: 0;
    font-family: "Poppins", sans-serif;
}

.left p{
    width:36vw;
    margin-top: 4px;
    font-family: "Poppins", sans-serif;
    color: #777171;
}

.left .btn .btn1{
    background: black;
    color: white;
    padding: 9px 8px;
    border-radius: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 11px;
    display: flex;
    align-items: center;
    gap:6px;
}

.btn1 img{
   filter:invert(1);
}

.left .btn{
    display: flex;
    column-gap: 20px;
}

.left .btn .btn2{
    padding: 9px 8px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 6px;
    border: none;
    background: white;
}

.leftimg{
    width:490px;
}

/* right side */
.right img{
    width:500px;
}

/* section3 */


/* left side */
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec2 .left img{
    width: 609px;
}

.content li img{
    width: 20px;
}

.sec2 .right{
    display:flex;
    flex-direction: column;
    width:40vw;
}

.right .feature{
   margin-bottom:0px;
   font-family: "Poppins", sans-serif;
   color:red;
}

.right h1{
    margin: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
}

 .content li div{
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.content{
    display: block;
    padding-left: 0px;
    margin-top: 10px;
}

.content li{
    padding-bottom: 26px;
}

.content li content{
    color: #777171;
    font-family: "Poppins", sans-serif;
}

.content li div p{
   font-weight: bold;
   font-size:20px;
}

/* section 3 */

/* left side */
.sec3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sec3 .left{
    display:flex;
    flex-direction: column;
    width:40vw;
}

.sec3 .left .feature{
   margin-bottom:0px;
   font-family: "Poppins", sans-serif;
   color:red;
}

.sec3 .left h1{
    margin: 0px 0px;
    font-family: "Poppins", sans-serif;
    font-size: 33px;
}

.sec3 .left .content li div{
    display: flex;
    align-items: center;
    column-gap: 6px;
}

.sec3 .left .content{
    display: block;
    padding-left: 0px;
    margin-top: 10px;
}

.sec3 .left .content li{
    padding-bottom: 26px;
}

.sec3 .left .content li content{
    color: #777171;
    font-family: "Poppins", sans-serif;
}

.sec3 .left .content li div p{
   font-weight: bold;
   font-size:20px;
   color:black;
   position: relative;
   top: 8px;
}

.sec3 .left .content li div img{
   width:34px;
}

.sec3 .right img{
   width:600px;
}

/* section4  */
.sec4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* right side */
.sec4 .left img{
    width:550px;
}

/* left side */
.sec4 .right .content li div img{
    width:35px;
}

.sec4 .right{
    width:40vw;
}

/* section5 */
.sec5 .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 39px;
}

.sec5 p{
    margin-bottom: 0px;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

.sec5 h1{
    font-family: "Poppins", sans-serif;
    width: 45vw;
    margin: auto;
    text-align: center;
    font-size: 51px;
}

/* left side */
.sec5 .left img{
    width: 550px;
}

/* right side */
.sec5 .right h1{
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-size:33px;
    width: 40vw;
    text-align: left;
}

.sec5 .right{
    width:40vw;
}

.sec5 .right img{
    width: 262px;
}

.sec5 .right h5{
    font-size: 20px;
    margin-top: 10px;
    font-family: "Poppins", sans-serif;
}

/* section 6 */
.sec6{
    width:85vw;
    margin:auto;
}
.sec6 ul{
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    row-gap: 20px;
}

.sec6 ul li:first-child p{
    margin-bottom: 0px;
    color: red;
    font-family: "Poppins", sans-serif;
    border-radius: 12px;
}

.sec6 ul li:first-child h1{
    font-size: 35px;
    font-family: "Poppins", sans-serif;
    margin-top: 0px;
}

.sec6 ul li{
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    padding: 0 24px;
}

.sec6 ul li:nth-child(3){
    background-color: #ff5353;
    border-radius: 12px;
    color: white;
}

.sec6 ul li:nth-child(6){
    background-color: #ff5353;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    padding: 0 24px;
    color: white;
}

.sec6 ul li:nth-child(7){
    background-color: #ff5353;
    border-radius: 12px;
    font-family: "Poppins", sans-serif;
    padding: 0 24px;
    color: white;
}

.sec6 ul li h1{
    margin-bottom:0;
    font-size:27px;
}

.sec6 ul li p{
    margin-top:0;
}

/* section 7 */
.sec7 img{
    width:100vw;
}

/* footer */
.footer ul li:first-child p{
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer ul li:first-child{
   margin-top: 21px;
}

.footer ul{
    display: flex;
    list-style: none;
    column-gap: 34px;
    width: 80vw;
    flex-wrap:wrap;
    justify-content: space-evenly;
    margin: auto;
    font-family: "Poppins", sans-serif;
}

.footer p:hover{
    text-decoration: underline;
    color:black;
}

.footer ul li:last-child button{
    background: black;
    color: white;
    padding: 15px 30px;
    border-radius: 4px;
    font-family:"Poppins", sans-serif;
    font-weight: 600;
    font-size:11px;
    margin-top: 90px;
}
.footer hr{
    border:1px solid black;
    width:80vw;
    margin:auto;
}

.footer p{
    text-align: center;
    font-family: "Poppins", sans-serif;
}

/* Media Queries */
@media (max-width:940px){
    .sec1 .star{
        display:none;
    }

    .left .heading{
        font-size:40px;
    }

    .left p{
        width: 66vw;
    }

    /* section2 */

    .sec2 .right{
        width: 80vw;
    }

    /* section3 */
    .sec3 .left{
        width: 80vw;
    }

    /* section4 */
    .sec4 .right{
        width: 80vw;
    }

    /* section5 */
    .sec5 h1{
        width: 100vw;
    }

    .sec5 .right h1{
        width: 80vw;
    }

    .sec5 p{
        text-align: left;
    }

    .sec5 .right{
        width: 80vw;
    }

    /* section6 */
    .sec6 ul div{
        display:flex;
    }

    /* footer */
    .footer ul li:first-child {
        margin-top: 0px;
    }

    .footer ul {
        row-gap:30px;
    }
}

@media(max-width:730px){
    *{
        margin:0;
        padding:0;
    }

    .contain .hamburger{
        display:block; 
        position: relative;
        /* right:65px; */
        width:34px;
    }

   ul{
        display:none;
    }

    .navigation .logo{
        width: 117px;
        height: 40px;
    }

    .beforenavigation{
        display:none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 18px;
        padding: 10px 0px;
        background-color: #f2eaea;
        margin: 0px 0px 20px 0px;
        /* transform:1s ease-in; */
    }

    .beforenavigation img{
        position:absolute;
        top: 12px;
        right: 14px;
        filter:invert(1);
        background-color: white;
        color:black
    }

    /* section1 */
    .sec1 .left{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .left .heading {
        font-size: 40px;
        text-align: center;
    }

    .left p {
        width: 95vw;
        text-align: center;
        padding-bottom: 20px;
    }

    .leftimg {
        width: 400px;
    }

    .right img {
        width: 400px;
    }

    /* section2 */
    .sec2 .left img {
        width: 500px;
    }

    .sec2 .right {
        width: 90vw;
        margin: auto;
    }

    /* section3 */
    .sec3 .left p {
        width: 95vw;
        padding-bottom: 20px;
        text-align: left;
    }

    .sec3 .left {
        width: 90vw;
        margin: auto;
    }

    .sec3 .right img {
        width: 400px;
    }

    /* section4 */
    .sec4 .right {
        width: 90vw;
    }

    .sec4 .left img {
        width: 400px;
    }

    /* section5 */
    .sec5 p {
        text-align: center;
    }

    .sec5 .left img {
        width: 400px;
    }

    .sec5 .right {
        width: 90vw;
    }

    .sec5 .right h1 {
        width: 90vw;
    }

    /* section6 */
    .sec6 {
        width: 90vw;
    }

    .sec6 ul{
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr))
    }
}

@media(max-width:500px){
    .contain .hamburger {
        width: 25px;
    }

    .navigation .logo {
        width: 80px;
        height: 27px;
    }

    .navigation .btn {
        padding: 4px 8px;
    }

    .star {
        height: 20px;
    }
    
    .navigation{
        padding-top: 10px;
    }

    .contain2 {
        column-gap: 10px;
    }
  
    /* section1 */
    .left .heading {
        font-size: 30px;
    }

    .left p {
        font-size: 14px;
    }

    .leftimg {
        width: 300px;
    }

    .right img {
        width: 300px;
    }

   
    /* section2 */
    .sec2 .left img {
        width: 300px;
    }

    .content li div p {
        font-size: 15px;
    }

    .right h1{
        font-size: 25px;
    }

    /* section3 */
    .sec3 .right img {
        width: 300px;
    }

    .sec3 .left h1{
        font-size: 25px;
    }

    .sec3 .left p{
        padding-bottom:4px;
    }

    .sec3 .left .content li div p {
        top: 0px;
    }

    .sec3 .left .content li content {
        font-size: 14px;
    }

    /* section4 */
    .sec4 .left img {
        width: 300px;
    }

    .sec4 .content li div p {
        font-size: 18px;
    }

    .content li content {
        font-size: 14px;
    }

    /* section5 */
    .sec5 .left img {
        width: 300px;
    }

    .sec5 h1 {
        width: 90vw;
        font-size: 35px;
    }

    .sec5 .right h1 {
        font-size: 25px;
    }

    .sec5 p {
        font-size: 14px;
    }

    /* section6 */
    .sec6 ul li:first-child h1 {
        font-size: 25px;
    }

    .sec6 ul li img{
        width: 35px;
    }

    .sec6 ul li h1 {
        font-size: 21px;
    }

    .sec6 ul li {
        padding: 0 35px;
    }

    .sec6 ul li p {
        font-size: 14px;
    }

    /* footer */
    .footer ul li{
        font-size: 14px;
    }

    .footer ul li h1{
        font-size: 25px;
    }

    .footer ul:first-child li>img{
        width: 90px;
    }

    .footer ul li p{
        text-align: left;
    }

    .footer ul li:last-child button {
        padding: 3px 7px;
        margin-top: 22px;
    }
}